/* Intro */
.intro-section {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .intro-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -10;
    transition: opacity 0.3s ease-in;
  }
  
  .intro-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .intro-container {
    width: 90%;
    max-width: 1200px;
    min-height: 300px;
    position: relative;
    z-index: 2;
    background: radial-gradient(
      circle,
      rgba(24, 40, 72, 0.98),
      rgba(75, 108, 183, 0.98)
    );
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    justify-content: flex-start; /* Adjusted to align items to the start */
  }
  
  .intro-title {
    font-size: 48px;
    color: #fff;
    text-align: center;
    margin-bottom: 10px; /* Add a small space below the title */
  }
  
  .intro-subtitle {
    font-size: 30px;
    color: #fff;
  }
  
  .intro-description {
    font-size: 32px;
    color: #fff;
    overflow: hidden;
    white-space: pre-wrap;
    width: 100%;
    text-align: left;
    margin: 10px 0;
    text-align: center;
  }
  
  .question-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Create two equal-width columns */
    grid-gap: 10px; /* Add some gap between the columns */
    margin: 0 0 40px 20px;
  }
  
  .question {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Adjusted to left-align the items */
    margin-bottom: 10px;
    font-size: 20px;
    margin-left: 20px; /* Added left margin */
    margin-right: 20px; /* Added right margin */
  }
  
  .question input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    border-radius: 50%; /* Adjust the radius for a square checkbox */
    position: relative;
  }
  
  .question input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14px; /* Adjust the size of the checkmark icon */
    height: 14px; /* Adjust the size of the checkmark icon */
    border-radius: 2px; /* Adjust the radius for a square checkmark icon */
    background-color: transparent; /* Set the initial background color */
    transition: background-color 0.3s ease; /* Add transition effect */
  }
  
  .question input[type="checkbox"]:checked::before {
    content: "\f00c"; /* Font Awesome checkmark icon */
    font-family: "Font Awesome 5 Free"; /* Font Awesome library */
    font-weight: 900; /* Adjust the font weight if needed */
    color: #00ff00; /* Set the color of the checkmark */
    background-color: rgba(
      0,
      255,
      0,
      0.2
    ); /* Set the background color for the checked state */
  }
  
  .question label {
    margin-right: 10px;
    cursor: pointer;
  }
  
  .cta-button.hidden {
    display: none;
  }
  
  .cta-button {
    display: inline-block;
    background-color: #4b6cb7;
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    padding: 16px 32px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #182848;
  }
  
  .intro-title,
  .intro-subtitle,
  .intro-description,
  .question,
  .cta-button {
    opacity: 0; /* Initially hide the elements */
    animation-duration: 1s; /* Adjust the animation duration as desired */
    animation-fill-mode: forwards; /* Keep the final state after animation */
  }
  
  .intro-title {
    animation-name: slideFromLeft;
    animation-delay: 0s; /* Delay for the intro title */
  }
  
  .intro-description {
    animation-name: slideFromLeft;
    animation-delay: 0.25s; /* Delay for the intro description */
  }
  
  .intro-description strong {
    font-size: 1.3em;
  }
  
  /* Animation delays for each question */
  .question:nth-child(1) {
    animation-name: slideFromLeft;
    animation-delay: 0.7s;
  }
  
  .question:nth-child(2) {
    animation-name: slideFromLeft;
    animation-delay: 0.8s;
  }
  
  .question:nth-child(3) {
    animation-name: slideFromLeft;
    animation-delay: 0.9s;
  }
  
  .question:nth-child(4) {
    animation-name: slideFromLeft;
    animation-delay: 1s;
  }
  
  .question:nth-child(5) {
    animation-name: slideFromLeft;
    animation-delay: 1.1s;
  }
  
  .question:nth-child(6) {
    animation-name: slideFromLeft;
    animation-delay: 1.2s;
  }
  
  .question:nth-child(7) {
    animation-name: slideFromLeft;
    animation-delay: 1.3s;
  }
  
  .question:nth-child(8) {
    animation-name: slideFromLeft;
    animation-delay: 1.4s;
  }
  
  .question:nth-child(9) {
    animation-name: slideFromLeft;
    animation-delay: 1.5s;
  }
  
  .question:nth-child(10) {
    animation-name: slideFromLeft;
    animation-delay: 1.6s;
  }
  
  .cta-button {
    animation-name: slideFromRight;
  }
  
  @keyframes slideFromLeft {
    from {
      transform: translateX(-100px); /* Start from left side */
      opacity: 0;
    }
    to {
      transform: translateX(0); /* Move to original position */
      opacity: 1;
    }
  }
  
  @keyframes slideFromRight {
    from {
      transform: translateX(100px); /* Start from right side */
      opacity: 0;
    }
    to {
      transform: translateX(0); /* Move to original position */
      opacity: 1;
    }
  }
  
  /* Separators */
  .separator {
    height: 2px;
    background: linear-gradient(to right, #182848 0%, #4b6cb7 50%, #182848 100%);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    margin: 80px 0;
  }
  
  /* Projects */
  .section-projects {
    background-color: #182848;
    padding: 40px;
    text-align: center;
    color: #fff;
  }
  
  .projects-heading {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .projects-icon {
    margin-right: 10px;
  }
  
  .projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .project-tabs {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
  }
  
  .project-tabs li {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .project-tabs li:hover,
  .project-tabs li.active {
    background-color: #4b6cb7;
    box-shadow: 0 0 10px rgba(75, 108, 183, 0.8);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .project-tabs li:hover::after,
  .project-tabs li.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 4px);
    height: 4px;
    background-color: #4b6cb7;
    box-shadow: 0 0 10px rgba(75, 108, 183, 0.8);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .project-tabs li:hover::after {
    transform: translateX(-50%) scale(1.1);
    box-shadow: 0 0 20px rgba(75, 108, 183, 0.8);
  }
  
  /* Project Card */
  .project-card {
    display: none;
    width: 80%;
    margin: 20px auto;
    padding: 40px;
    background: radial-gradient(
      circle,
      #325080,
      #763b69
    ); /* Updated background gradient with a radial effect */
    border-radius: 10px;
    box-shadow: 0 0 20px 5px rgba(180, 200, 230, 0.8); /* Modified box-shadow for a lighter glow effect */
    transition: opacity 0.3s ease-in, transform 0.3s ease-in;
  }
  
  .project-card.active {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
  
  .project-card {
    opacity: 0;
    transform: translateY(20px);
  }
  
  .project-card-title {
    font-size: 40px;
    color: #fff;
    margin-bottom: 20px;
  }
  
  .project-card-title-icon {
    margin-right: 10px;
  }
  
  .project-gallery {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .project-gallery img {
    width: calc(50% - 10px);
    height: 375px; /* Updated height to be 1/4 smaller */
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    margin-right: 10px;
    position: relative;
    z-index: 1;
    transform: rotateY(0deg);
    transition: transform 0.3s;
  }
  
  .project-gallery img:before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 20px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    transform: perspective(500px) rotateX(-60deg);
    z-index: -1;
  }
  
  .project-gallery img:after {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 20px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    transform: perspective(500px) rotateX(60deg);
    z-index: -1;
  }
  
  .project-gallery img:hover {
    transform: rotateY(-10deg);
  }
  
  .project-card-story {
    margin-bottom: 20px;
    color: white;
    font-size: 22px; /* Increase the font size */
  }
  
  .project-card h1 {
    font-size: 32px;
  }
  
  .project-card .view-button {
    display: inline-block;
    background: linear-gradient(
      135deg,
      #5f50a5,
      #4b6cb7
    ); /* Updated background gradient with light purple and blue */
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin-top: 20px; /* Add margin between button and key takeaways */
    opacity: 0.8; /* Set initial opacity to make it slightly transparent */
  }
  
  .project-card .view-button:hover {
    background: #6c89a1; /* Updated hover background color */
    box-shadow: 0 0 10px 5px rgba(108, 137, 161, 0.8); /* Added a glow effect with a light blue shadow */
    opacity: 1; /* Set opacity to fully opaque on hover */
  }
  
  .project-card .key-takeaways {
    background-color: #4b6cb7;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 30px; /* Add margin between key takeaways and button */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 -10px 20px rgba(0, 0, 0, 0.5); /* Add a long and dark shadow on top and bottom */
    transform: perspective(-250px) rotateX(3deg); /* Create a 3D effect with rotation */
  }
  
  .project-card .key-takeaways h4 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  .project-card .key-takeaways ol {
    list-style-type: none;
    padding-left: 0;
    counter-reset: key-takeaway-counter;
    display: inline-block; /* Add this line to make the list display inline */
    text-align: left; /* Add this line to align the list items to the left */
  }
  
  .project-card .key-takeaways li {
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
  }
  
  .project-card .key-takeaways li:before {
    content: counter(key-takeaway-counter);
    counter-increment: key-takeaway-counter;
    font-weight: bold;
    margin-right: 10px;
    width: 25px;
    text-align: right;
  }
  
  .project-card .key-takeaways li:last-child {
    margin-bottom: 0;
  }
  
  /* Socials */
  .social-media-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }
  
  .social-media-link {
    display: inline-block;
    position: relative;
  }
  
  .social-media-link img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: filter 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Add transition for filter and box-shadow */
    filter: brightness(100%); /* Reset the filter to default */
    box-shadow: 0 0px 25px rgba(255, 255, 255, 0.5);
  }
  
  .social-media-link:hover img {
    filter: brightness(150%) drop-shadow(0 0 10px rgba(0, 0, 0, 0.6)); /* Add glow effect using drop-shadow filter */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
  
  /* contact section */
  .contact-section {
    position: relative; /* Add position: relative */
    width: 100%;
    height: 100vh; /* Adjust the height as desired */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .contact-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .contact-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .contact-container {
    width: 80%;
    max-width: 1000px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    text-align: left;
    z-index: 2;
    background: radial-gradient(
      circle,
      rgba(24, 40, 72, 0.8),
      rgba(75, 108, 183, 0.8)
    );
  }
  
  .contact-section h2 {
    font-size: 32px; /* Increased font size */
    color: #fff;
    margin-bottom: 10px; /* Increased margin value */
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px; /* Increased margin value */
    text-align: left;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .form-group select {
    width: 100%;
    padding: 12px; /* Increased padding value */
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 15px; /* Increased margin value */
    background-color: #fff;
  }
  
  label {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px; /* Increased margin value */
  }
  
  label i {
    margin-right: 10px;
  }
  
  select,
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 98%;
    padding: 12px; /* Increased padding value */
    font-size: 18px; /* Increased font size */
    border-radius: 5px;
    border: none;
    margin-bottom: 15px; /* Increased margin value */
  }
  
  textarea {
    height: 150px;
  }
  
  .contact-section .button-container {
    display: flex;
    justify-content: space-between;
  }
  
  .submit-button,
  .clear-button {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 12px 20px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    margin-right: 10px;
    border: none;
    cursor: pointer;
  }
  
  .submit-button {
    background-color: #76cc6e;
  }
  
  .submit-button:hover {
    background-color: #4ea74e;
    box-shadow: 0 0 10px 5px rgba(78, 167, 78, 0.8);
  }
  
  .clear-button {
    background-color: #e57373;
  }
  
  .clear-button:hover {
    background-color: #c65353;
    box-shadow: 0 0 10px 5px rgba(198, 83, 83, 0.8);
  }
  